<% remote_form_for(@note) do |f| %>
  <%= f.error_messages %> 
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body, :size => "25x4" %>
  </p>
  <p>
    <%= f.submit 'Create', :onclick => "this.innerHTML = 'Creating...'; this.disable(); $('form_spinner').appear({duration:0.3});" %>
    <%= image_tag 'spinner.gif', :id => "form_spinner", :style => "display:none" %>
  </p>
<% end %> 
