<% content_tag_for :div, note, :class => note.status, :style => "display:none; left:#{note.left}px; top:#{note.top}px;" do -%>
  <div class="note_title"><%= note.title %></div>
  <div class="note_body"><%= note.body %></div>
  <div class="note_foot">
    <div class="note_actions" style="display:none">
      <!--<span class="edit"><%= link_to "Edit", "#" %></span>-->
      <span class="minimize"><%= link_to "Hide", "#" %></span>
      <span class="delete"><%= link_to_remote "Delete", :url => note_path(note), :method => :delete, :confirm => "Are you sure?" %></span>
    </div>
  </div>
<% end -%>
